/* Remove Student Lab content */
*[outputclass ~= "lab-activity"] {
    display: none;
}

/* Remove blank graphs */
[class~="topic/fig"] [class~="topic/image"][outputclass ~= 'blank'] {
    display: none;
}

/* Remove all list items in Procedure except ones containing questions */
*[oid ~= 'procedure'] .body > :not(ol),
*[oid ~= 'procedure'] article .body > :not(ol) {
    display: none;
}
*[oid ~= 'procedure'] [class~="topic/li"] {
    font-size: 0pt;
    margin-bottom: 0;
}
*[oid ~= 'procedure'] [class~="topic/li"] * {
    display: none;
}
*[oid ~= 'procedure'] [class~="topic/li"]:has([class~="learningInteractionBase2-d/lcInteractionBase2"]) {
    font-size: 10pt;
    margin-bottom: initial;
}
*[oid ~= 'procedure'] [class~="topic/li"]:has([class~="learningInteractionBase2-d/lcInteractionBase2"]) * {
   display: inline-block;
}
*[oid ~= 'procedure'] [class~="topic/li"]:has([class~="learningInteractionBase2-d/lcInteractionBase2"]) div,
*[oid ~= 'procedure'] [class~="topic/li"]:has([class~="learningInteractionBase2-d/lcInteractionBase2"]) figure {
   display: block;
}

@page:first {
    @top-left {
        content: "";
    }
    @top-right {
        content: "Teacher's Guide" !important;
        text-transform: uppercase;
        vertical-align: bottom;
        padding-bottom: 4pt;
    }
}
@page:right {
    @top-right {
        content: string(doctitle) " | Teacher's Guide";
    }
}
@page:left {
    @top-left {
        content: string(doctitle) " | Teacher's Guide";
    }
}

/* Time Required Section */
*[oid ~= 'time-requirements'] *[class ~= 'dt'] {
    float: left;
}
*[oid ~= 'time-requirements'] *[class ~= 'dt']:after {
    content: ": ";
    white-space: pre;
}

/* Extension Section */
*[oid ~= 'extension'] *[class ~= 'topic/dt'] {
    font: 500 italic 10pt 'Roboto', sans-serif;
}
*[oid ~= 'extension'] *[class ~= 'topic/dd'] {
    font-size: 10pt;
    margin-left: 0pt;
}

/* Support Section */
*[oid ~= 'technical-support'] {
    break-inside: avoid;
}
*[oid ~= 'technical-support'] [class~="topic/table"] {
    width: auto;
    margin-left: 0;
}
*[oid ~= 'technical-support'] *[class ~= 'topic/entry'] {
    border: none;
    padding: 0.3em;
    text-align: left;
    font: 300 10pt serif;
}
.table td:not([valign]) {
    vertical-align: top;
}






























