@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'p-numbering-deep-chapter-scope.css';

/****************************************************************/
/*                      REMOVED CONTENT                         */
/****************************************************************/

/* Remove Cover Page and TOC */
*[class ~= 'map/map'] > *[class ~= 'toc/toc'] {
    display:none !important;
}
*[class ~= 'map/map'] > *[class ~= 'front-page/front-page']{
    display:none !important;
}

/* Remove 'Chapter #' prefix from topic titles */
*[class ~= "topic/topic"][is-chapter]:not([is-part]) > *[class ~= "topic/title"]:before {
    display: none !important;
}

/* Remove 'on page ##' suffix from links */
*[class ~= "topic/xref"][href]:after,
*[class ~= "topic/link"][href]:after {
    content: none !important;
}

/* Remove second <br> when two are present (temporary fix) */
br {
    display: none;
}

/****************************************************************/
/*                      DOCUMENT PROPERTIES                     */
/****************************************************************/

/* Set the variable 'doctitle' to map title */
div[class ~= "front-page/front-page-title"] {
    string-set: doctitle content();
}

@page {
    size: US-letter;
    padding: 0.5em 0in;
    font: 300 10pt 'Roboto', sans-serif;
    border-top: dotted 2.2px;
    border-bottom: dotted 2.2px;
}

@page:first {
    margin: 0.75in 0.75in 0.75in 1.25in;
    @top-left {
        content: "NAME                                                                                           PERIOD                            DATE";
        white-space: pre;
        vertical-align: bottom;
        padding-bottom: 4pt;
    }
}
@page:right {
    margin: 0.75in 0.75in 0.75in 1.25in;
    @top-right {
        content: string(doctitle) " | Student Handout";
        text-transform: uppercase;
        vertical-align: bottom;
        padding-bottom: 4pt;
        white-space: pre;
    }
    @bottom-right {
        content: "PASCO        " counter(page);
        vertical-align: top;
        padding-top: 4pt;
        white-space: pre;
    }
}
@page:left {
    margin: 0.75in 1.25in 0.75in 0.75in;
    @top-left {
        content: string(doctitle) " | Student Handout";
        text-transform: uppercase;
        vertical-align: bottom;
        padding-bottom: 4pt;
        white-space: pre;
    }
    @bottom-left {
        content: counter(page) "        PASCO";
        vertical-align: top;
        padding-top: 4pt;
        white-space: pre;
    }
}

/* Page Break Rules */
[oid="objectives"],
[oid="materials"] {
    page-break-inside: avoid;
}

/****************************************************************/
/*                      TEXT STYLES                             */
/****************************************************************/

*{
    margin-top: 0;
    margin-bottom: 6pt;
}

*[class~='topic/title'] {
    page-break-after: avoid;
    margin-bottom: 6pt;
}
.topictitle1 {
    font: 300 20pt 'Roboto', sans-serif;
    text-transform: uppercase;
}
.topictitle2 {
    font: 500 13pt 'Roboto', sans-serif;
}
.topictitle3 {
    font: 500 italic 10pt 'Roboto', sans-serif;
    page-break-after: avoid;
}
.figcap,
.tablecap {
    font: italic 9pt serif;
    text-align: left;
}

*[class~='topic/p'] {
    font-size: 10pt;
}

.section {
    margin-top: 0pt;
    margin-bottom: 15pt;
}
.sectiondiv {
    margin-bottom: 12pt;
}

*[class~="topic/entry"], [class~="topic/stentry"] {
	font-size: 9pt;
}
.li {
    font-size: 10pt;
}

[oid="materials"] li {
    font-size: 9pt;
    margin-bottom: 3pt;
}

*[class~="topic/xref"] {
    text-decoration: none;
    color: black;
}

sup[class~="hi-d/sup"],
sub[class~="hi-d/sub"] {
    font-size: 0.6em;
}

/****************************************************************/
/*                      LISTS                                   */
/****************************************************************/

.ul, .ol {
    margin-left: 0.22in;
}
.li {
    page-break-inside: avoid;
}
[oid="materials"] .ul {
    column-count: 2;
}
.ol .ol,
.ol .ul,
.ul .ol,
.ul .ul {
    margin-top: 6pt;
}

/* Left-align numbers in ordered lists */
ol {
  counter-reset: item;
}
ol li {
  display: block;
}
ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
  position: absolute;
  margin-left: -1.5em;
}
ol ol li:before {
  content: counter(item, lower-alpha) ". ";
}

/****************************************************************/
/*                      TABLES                                  */
/****************************************************************/

*[class~="topic/table"] {
    border-collapse: collapse;
    margin-top: 0;
    margin-left: 0;
    margin-right: auto;
    page-break-inside: avoid;
    hyphens: none;
}
*[class~="topic/entry"], [class~="topic/stentry"] {
    border: 1px solid black;
    height: 0.33in;    
}

/* Unset vertical-align:top for this rule */
.simpletable td:not([valign]), .table td:not([valign]) {
    vertical-align: middle;
}
*[class~="topic/entry"] *[class~="topic/p"],
*[class~="topic/stentry"] *[class~="topic/p"] {
    margin-top:auto;
    margin-bottom:auto;
    font-size: 9pt;
}

th[class~="topic/entry"], th[class~="topic/stentry"] {
    background-color: #D9D9D9;
    font-family: 'Roboto', sans-serif;
}

/* Reset the table numbering for each topic */
.table--title-label {
    display: none;
}
*[class ~= "topic/body"] {
  counter-reset: tablecounter;
}
.table--title:before {
  content: "Table " counter(tablecounter) ". ";
  counter-increment: tablecounter;
}

/****************************************************************/
/*                      IMAGES AND FIGURES                      */
/****************************************************************/

*[class ~= "topic/image"] {
    prince-image-resolution: auto;
    height: 1.5em;
    vertical-align: middle
}

/* Center-align figures */
*[class~="topic/fig"] {
    page-break-inside: avoid;
    display: table;
    margin-left: auto;
    margin-right: auto;
}
/* Left-align figures with graphs */
.graph-figure {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

/* Center images in figures */
*[class ~= "topic/fig"] *[class ~= "topic/image"]{
  display: block;
  margin: 0.25in auto;
  height: initial;
}
[class~="topic/image"][placement="break"] {
    height: initial;
}

[class ~= "topic/fig"][outputclass ~= "float-right"] {
    float: right;
    margin: 0.25in;
    margin-right: 0in;
}

*[class ~= "equation-d/equation-block"] math {
    margin-left: auto;
    margin-right: auto;
}

*[class ~="equation-d/equation-block"],
*[class ~="equation-d/equation-inline"]{
	font-family: serif !important;
	font-size: 10pt;
}

/****************************************************************/
/*                      QUESTIONS AND ANSWERS                   */
/****************************************************************/

*[class ~= 'learning2-d/lcOpenAnswer2'] {
    margin-top: 3pt;
}

*[class ~= 'learning2-d/lcOpenAnswer2'],
*[class ~= 'learning2-d/lcOpenAnswer2'] * {
    font: 300 9pt 'Roboto', sans-serif;
}


/****************************************************************/
/*                      NOTES                                   */
/****************************************************************/

*[class ~="topic/note"] {
    font-style: italic;
    background-color: #D9D9D9;
    padding: 0.5em;
    border-radius: 5px;
}
span.note__title {
    text-transform: uppercase;
}

/* Remove default note icon */
div.note {
    background-image: none;
    padding-left: 0.75em;
    padding-right: 0.75em;
    overflow: auto;
}
















