/* Remove Student Lab content */
*[outputclass ~= "lab-activity"] {
    display: none;
}

/* Remove blank graphs */
[class~="topic/fig"] [class~="topic/image"][outputclass ~= 'blank'],
[class~="topic/image"][placement="break"][outputclass ~= 'blank'] {
    display: none;
}

/* Remove all list items in Procedure, Prototype, and Test, and Research topics except ones containing questions */
/* Also remove margins and text from any block elements */
*[oid |= 'procedure'] [class~="topic/li"],
*[oid |= 'procedure'] [class~="topic/li"] .note,
*[oid |= 'procedure'] [class~="topic/li"] ol,
*[oid |= 'prototype'] [class~="topic/li"],
*[oid |= 'prototype'] [class~="topic/li"] .note,
*[oid |= 'prototype'] [class~="topic/li"] ol,
*[oid |= 'test'] [class~="topic/li"],
*[oid |= 'test'] [class~="topic/li"] .note,
*[oid |= 'test'] [class~="topic/li"] ol,
*[oid |= 'research'] [class~="topic/li"],
*[oid |= 'research'] [class~="topic/li"] .note,
*[oid |= 'research'] [class~="topic/li"] ol
{
    font-size: 0pt;
    margin-top: 0;
    margin-bottom: 0;
}
/* Remove all images from list items in Procedure, Prototype, and Test, and Research topics except ones containing questions */
*[oid |= 'procedure'] [class~="topic/li"] .imagecenter,
*[oid |= 'procedure'] [class~="topic/li"] figure,
*[oid |= 'prototype'] [class~="topic/li"] .imagecenter,
*[oid |= 'prototype'] [class~="topic/li"] figure,
*[oid |= 'test'] [class~="topic/li"] .imagecenter,
*[oid |= 'test'] [class~="topic/li"] figure,
*[oid |= 'research'] [class~="topic/li"] .imagecenter,
*[oid |= 'research'] [class~="topic/li"] figure
{
    display: none;
}
/* Reverse the above two rules for list items containing questions */
/* NOTE: The :has selector is NOT supported in browsers but is supported in Prince */
*[oid |= 'procedure'] [class~="topic/li"]:has([class~="learningInteractionBase2-d/lcInteractionBase2"]),
*[oid |= 'prototype'] [class~="topic/li"]:has([class~="learningInteractionBase2-d/lcInteractionBase2"]),
*[oid |= 'test'] [class~="topic/li"]:has([class~="learningInteractionBase2-d/lcInteractionBase2"]),
*[oid |= 'research'] [class~="topic/li"]:has([class~="learningInteractionBase2-d/lcInteractionBase2"]){
    font-size: 10pt;
    margin-top: 6pt;
    margin-bottom: 6pt;
}
*[oid |= 'procedure'] [class~="topic/li"]:has([class~="learningInteractionBase2-d/lcInteractionBase2"]) .imagecenter,
*[oid |= 'procedure'] [class~="topic/li"]:has([class~="learningInteractionBase2-d/lcInteractionBase2"]) figure,
*[oid |= 'prototype'] [class~="topic/li"]:has([class~="learningInteractionBase2-d/lcInteractionBase2"]) .imagecenter,
*[oid |= 'prototype'] [class~="topic/li"]:has([class~="learningInteractionBase2-d/lcInteractionBase2"]) figure,
*[oid |= 'test'] [class~="topic/li"]:has([class~="learningInteractionBase2-d/lcInteractionBase2"]) .imagecenter,
*[oid |= 'test'] [class~="topic/li"]:has([class~="learningInteractionBase2-d/lcInteractionBase2"]) figure,
*[oid |= 'research'] [class~="topic/li"]:has([class~="learningInteractionBase2-d/lcInteractionBase2"]) .imagecenter,
*[oid |= 'research'] [class~="topic/li"]:has([class~="learningInteractionBase2-d/lcInteractionBase2"]) figure {
    display: block;
}

@page:first {
    @top-left {
        content: "";
    }
    @top-right {
        content: "Teacher's Guide" !important;
        text-transform: uppercase;
        vertical-align: bottom;
        padding-bottom: 4pt;
    }
}
@page:right {
    @top-right {
        content: string(doctitle) " | Teacher's Guide";
    }
}
@page:left {
    @top-left {
        content: string(doctitle) " | Teacher's Guide";
    }
}

/* Time Required Section */
*[oid ~= 'time-requirements'] *[class ~= 'dt'] {
    float: left;
    margin-top: 0;
}
*[oid ~= 'time-requirements'] *[class ~= 'dt']:after {
    content: ": ";
    white-space: pre;
}

/* Extension Section */
*[oid ~= 'extension'] *[class ~= 'topic/dt'] {
    font: 500 italic 10pt 'Roboto', sans-serif;
}
*[oid ~= 'extension'] *[class ~= 'topic/dd'] {
    font-size: 10pt;
    margin-left: 0pt;
}

/* Support Section */
*[oid ~= 'technical-support'] {
    break-inside: avoid;
}
*[oid ~= 'technical-support'] [class~="topic/table"] {
    width: auto;
    margin-left: 0;
}
*[oid ~= 'technical-support'] *[class ~= 'topic/entry'] {
    border: none;
    padding: 0.3em;
    text-align: left;
    font: 300 10pt serif;
}
.table td:not([valign]) {
    vertical-align: top;
}
.single-value td {
    vertical-align: bottom !important;
}






























